<!DOCTYPE html>
<html>
<head><title>Payment_res</title></head>

<body>
<h1>Payment Results</h1>
<p>APR<br>
<%= @apr %><br>
Number of years<br>
<%= @years %><br>
Principal<br>
<%= @principal %><br>
Payment<br>
<%= @pmt %>
</p>

<p><a href ="/payment/new">Calculate another payment</a></p>
</body>

</html>
