<!DOCTYPE html>
<html>
<head><title>Random_res</title></head>

<body>
<h1>Random Results</h1>
<p>Minimum<br>
<%= @min %><br>
Maximum<br>
<%= @max %></p>
Random Number <br>
<%= @rand %></p>

<p><a href ="/random/new">Pick another random number</a></p>
</body>

</html>
