<!DOCTYPE html>
<html>
<head><title>random</title></head>

<body>
<form action="/random/results">
  <label for="min">Minimum</label>
  <input id="min_id" name="min"><br>
   <label for="max">Maximum</label>
  <input id="max_id" name="max"><br>
 <button>Pick random number</button>

</form>

</body>

</html>
