<!DOCTYPE html>
<html>
<head><title>Squareroot</title></head>

<body>
<p>Square root<p>

<form action="/square_root/results">
  <label for="number">Enter a number</label>
  <input id="num_id" name="number">
<button>Calculate square root</button>
</form>

</body>

</html>
