<!DOCTYPE html>
<html>
<head><title>Squares</title></head>

<body>
<form action="/squares/results">
  <label for="num_id">Enter a number</label><br>
  <input id="num_id" name="number" placeholder="What number do you want to square?"><br>
<button>Calculate square</button>
</form>
</body>
</html>
