<!DOCTYPE html>
<html>
<head><title>Squareroot</title></head>

<body>
<form action="/square_root/results">
  <label for="num_id">Enter a number</label>
  <input id="num_id" name="number" placeholder="What number do you want to enter?"><br>
<button>Calculate square root</button>
</form>

</body>

</html>
