<!DOCTYPE html>
<html>
<head><title>Square_root_res</title></head>

<body>
<h1>Square Root Results</h1>
<p>Number<br>
<%= @num %><br>
Square Root <br>
<%= @result %></p>

<p><a href ="/square_root/new">Calculate another square root</a></p>
</body>

</html>
